@{
    ViewBag.Title = "Обо мне:";
}
<h1>@ViewBag.Title</h1>
<h2>
    Калугина Дарья
    </h2>
<h3>
    студент гр. РИ-250004
    </h3>

<address>
    <strong>E-mail:</strong>   <a href="dashaka3@gmail.com">dashaka3@gmail.com</a><br />
</address>